easydict
jsonlines
matplotlib
networkx
numpy
opencv-python
pandas
Pillow
protobuf==3.20.1
pycocotools
pyyaml==5.4.1
regex==2019.8.19
requests==2.22.0
scikit-image
scipy
#tensorboard
#tensorboardX
#tensorflow
tqdm
urllib3
boto3
